@font-face {
  font-family: 'shop';
  src:  url('../fonts/shop.eot?ot8u5u');
  src:  url('../fonts/shop.eot?ot8u5u#iefix') format('embedded-opentype'),
    url('../fonts/shop.ttf?ot8u5u') format('truetype'),
    url('../fonts/shop.woff?ot8u5u') format('woff'),
    url('../fonts/shop.svg?ot8u5u#shop2') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-shop-"], [class*=" icon-shop-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'shop' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: inherit;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* new 14.02.2019 */
.icon-shop-gift:before {
  content: "\e909";
}
.icon-shop-label:before {
  content: "\e903";
}
.icon-shop-fire:before {
  content: "\e929";
}
.icon-shop-printer:before {
  content: "\e921";
}
.icon-shop-phone:before {
  content: "\e904";
}
.icon-shop-delivery:before {
  content: "\e905";
}
.icon-shop-heart:before {
  content: "\e906";
}
.icon-shop-star:before {
  content: "\e907";
}
.icon-shop-star-o:before {
  content: "\e908";
}
.icon-shop-office:before {
  content: "\e90a";
}
.icon-shop-library:before {
  content: "\e90b";
}
.icon-shop-home:before {
  content: "\e90c";
}
.icon-shop-menu-list:before {
  content: "\e90d";
}
.icon-shop-mail-box:before {
  content: "\e900";
}
.icon-shop-menu:before {
  content: "\e901";
}
.icon-shop-telephone:before {
  content: "\e902";
}
.icon-shop-lock:before {
  content: "\e910";
}
.icon-shop-bed:before {
  content: "\e92a";
}
.icon-shop-plus-square:before {
  content: "\e911";
}
.icon-shop-plus-circle:before {
  content: "\e927";
}
.icon-shop-plus:before {
  content: "\e928";
}
.icon-shop-eye:before {
  content: "\e90e";
}
.icon-shop-question:before {
  content: "\e90f";
}
.icon-shop-question-circle:before {
  content: "\e926";
}
.icon-shop-offer:before {
  content: "\e925";
}
.icon-shop-angle-down:before {
  content: "\e923";
}
.icon-shop-chevron-down:before {
  content: "\e924";
}
.icon-shop-angle-up:before {
  content: "\e917";
}
.icon-shop-chevron-up:before {
  content: "\e922";
}
.icon-shop-reply:before {
  content: "\e912";
}
.icon-shop-share:before {
  content: "\e913";
}
.icon-shop-envelope-o:before {
  content: "\e914";
}
.icon-shop-envelope:before {
  content: "\e915";
}
.icon-shop-legal:before {
  content: "\e916";
}
.icon-shop-times-circle:before {
  content: "\e918";
}
.icon-shop-angle-left:before {
  content: "\e919";
}
.icon-shop-chevron-left:before {
  content: "\e91a";
}
.icon-shop-angle-right:before {
  content: "\e91b";
}
.icon-shop-chevron-right:before {
  content: "\e91c";
}
.icon-shop-cart-down:before {
  content: "\e91d";
}
.icon-shop-shopping-bag:before {
  content: "\e91e";
}
.icon-shop-shopping-cart:before {
  content: "\e91f";
}
.icon-shop-cart-plus:before {
  content: "\e920";
}