{% extends "layout.html" %}
{% block pagetitle %} Hotel info {% endblock %}
{% block swipper %} 
    {% include "swipper.html" %} 
{% endblock %}
{% block content %}
    <!-- Hotel-info - Legal - Imprint -->
    <article data-handler="hotel-info" data-method="imprint">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h5>Hotel-info - Legal</h5>
                    <h2>Imprint</h2>
                    <p>
                    At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. 
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. 
                    At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. 
                    </p>
                    <p>
                    Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                    At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. 
                    </p>
                    <p>
                    Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. 
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. 
                    </p>            
                </div>
            </div>
        </div>
    </article>
    <!-- Hotel-info - Legal - Terms text & download button -->
    <article data-handler="hotel-info" data-method="terms">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h5>Hotel-info - Legal</h5>
                    <h3>Terms & Conditions</h3>
                    <p>
                    At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. 
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. 
                    At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. 
                    </p>
                    <p>
                    Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                     
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <a href="https://media.busyrooms.co/images/icomoon.zip" class="btn-details btn-primary">
                        <i class="icon-website-download"></i> <span data-hover="terms as PDF"> Download </span>
                    </a>
                </div>
            </div>
        </div>
    </article>
    <!-- Hotel-info - Legal - privacy -->
    <article data-handler="hotel-info" data-method="privacy">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h5>Hotel-info - Legal</h5>
                    <h4>Privacy</h4>
                    <p>
                    At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
                    </p>
                </div>
            </div>
        </div> 
    </article> 
    <!-- Hotel-info - Legal - Consumer-information -->
    <article data-handler="hotel-info" data-method="consumer-information">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h5>Hotel-info - Legal</h5>
                    <h2>Consumer information</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel, dapibus id, mattis vel, nisi. Sed pretium, ligula sollicitudin laoreet viverra, tortor libero sodales leo, eget blandit nunc tortor eu nibh. Nullam mollis. Ut justo. Suspendisse potenti. Sed egestas, ante et vulputate volutpat, eros pede semper est, vitae luctus metus libero.
                    </p>
                </div>
            </div> 
        </div>
    </article> 
    <!-- hotel-info - facilities - opening-hours -->
    <section data-handler="hotel-info" data-method="opening-hours">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h5>Hotel-info</h5>
                    <h2>Opening Hours</h2>
                    <div class="border p-5">
                        <table class="table table-striped table-hover">
                            <tbody>            
                                <tr class="row mx-0">
                                    <th class="col-6 col-xl-2 px-1">Arrival from:</th>
                                    <td class="col-6 col-xl-4 px-1">15:00</td>
                                    <th class="col-6 col-xl-2 px-1">Departure till:</th>
                                    <td class="col-6 col-xl-4 px-1">11:00</td>
                                </tr>            
                                <tr class="row mx-0">
                                    <th class="col-6 col-xl-2 px-1">Reception</th>
                                    <td class="col-6 col-xl-4 px-1">Monday - Sunday | 06:00 - 22:00</td>
                                    <th class="col-6 col-xl-2 px-1">Work holidays</th>
                                    <td class="col-6 col-xl-4 px-1">26.03.2018 - 30.03.2018</td>
                                </tr>  
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- hotel-info - facilities - payment & languages-->
    <section  data-handler="hotel-info" data-method="payment-languages">
        <div class="container">
            <div class="row">
                <div class="col-12"> 
                    <h5>Hotel-info</h5>         
                    <h2>Payment & Languages</h2>
                    <div class="border p-5">
                        <table class="table table-striped table-hover">
                            <tbody>            
                                <tr class="row mx-0">
                                    <th class="col-6 col-xl-2 px-1">Credit cards</th>
                                    <td class="col-6 col-xl-4 px-1">
                                        <i class="lead icon-payment-cash" title="cash"></i>
                                        <i class="lead icon-payment-bank" title="bank transfer"></i>
                                        <i class="lead icon-payment-eccash" title="EC"></i>
                                        <i class="lead icon-payment-maestrocard" title="MAESTRO"></i>
                                        <i class="lead icon-payment-visa" title="VISA"></i>
                                        <i class="lead icon-payment-mastercard" title="Mastercard"></i>
                                        <i class="lead icon-payment-discover" title="discover"></i>
                                        <i class="lead icon-payment-amex" title="amex"></i>
                                        <i class="lead icon-payment-paypal" title="paypal"></i>
                                        <i class="lead icon-payment-jcb" title="jcb"></i>
                                        <i class="lead icon-payment-diners" title="diners"></i>
                                        <i class="lead icon-payment-bitcoin" title="bitcoin"></i>
                                    </td>
                                    <th class="col-6 col-xl-2 px-1">Languages</th>
                                    <td class="col-6 col-xl-4 px-1">English, German, Portuguese</td>
                                </tr>             
                            </tbody>
                        </table> 
                    </div>     
                </div>
            </div>  
        </div>        
    </section>  
    <!-- hotel-info - facilities - list accordeon view -->
    <section data-handler="hotel-info" data-method="facilities-list-view">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h5>Hotel-info Facilities</h5>
                    <h2>List View</h2>
                    <p>Text for facilities block</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    {% include "categories.html" %}
                </div>
            </div>
        </div>
    </section>   
    <!-- hotel-info - Directions - for distances -->
    <section data-handler="hotel-info" data-method="distances">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h5>Hotel-info Distances / Points of interest</h5>
                    <h4>Table View</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <table class="table table-striped table-hover">
                             <thead>
                                <tr>
                                   <th>&nbsp;</th>
                                   <th>Location</th>
                                   <th>Name</th>
                                   <th class="d-none d-sm-table-cell">Distance</th>
                                   <th class="d-none d-sm-table-cell">Direction</th>
                                </tr>
                             </thead>
                             <tbody>
                                <tr>
                                   <td><i class="h6 icon-directions-airport"></i></td>
                                   <td>Airport</td>
                                   <td>Düsseldorf International</td>
                                   <td class="d-none d-sm-table-cell">55 km</td>
                                   <td class="d-none d-sm-table-cell">SE </td>
                                </tr>
                                <tr>
                                   <td><i class="h6 icon-directions-mainstation"></i></td>
                                   <td>Main station</td>
                                   <td>Hauptbahnhof Essen</td>
                                   <td class="d-none d-sm-table-cell">1 km </td>
                                   <td class="d-none d-sm-table-cell">N </td>
                                </tr>
                                <tr>
                                   <td><i class="h6 icon-directions-citycenter"></i></td>
                                   <td>City center</td>
                                   <td>Essen</td>
                                   <td class="d-none d-sm-table-cell">1 km </td>
                                   <td class="d-none d-sm-table-cell">W </td>
                                </tr>
                                <!-- icon-directions-fairground -->
                                <tr>
                                   <td><i class="h6 icon-directions-fairground"></i></td>
                                   <td>Fairground</td>
                                   <td>Gruga Messe Essen</td>
                                   <td class="d-none d-sm-table-cell">1,2 km </td>
                                   <td class="d-none d-sm-table-cell">N </td>
                                </tr>                          
                                <tr>
                                   <td><i class="h6 icon-directions-busstop"></i></td>
                                   <td>Bus stop</td>
                                   <td>ETEC Savignystr.</td>
                                   <td class="d-none d-sm-table-cell">0.1 km </td>
                                   <td class="d-none d-sm-table-cell">W </td>
                                </tr>
                                <tr>
                                   <td><i class="h6 icon-directions-motorway"></i></td>
                                   <td>Motorway</td>
                                   <td>A 40</td>
                                   <td class="d-none d-sm-table-cell">0.4 km </td>
                                   <td class="d-none d-sm-table-cell">W </td>
                                </tr>
                                <tr>
                                   <td>
                                      <i class="h6 icon-directions-harbour"></i>
                                   </td>
                                   <td>Harbour</td>
                                   <td>Hamburg</td>
                                   <td class="d-none d-sm-table-cell">290 km </td>
                                   <td class="d-none d-sm-table-cell">NW </td>
                                </tr>
                                <tr>
                                   <td>
                                      <i class="h6 icon-directions-beach"></i>
                                   </td>
                                   <td>Beach</td>
                                   <td>Cologne</td>
                                   <td class="d-none d-sm-table-cell">140 km </td>
                                   <td class="d-none d-sm-table-cell">SO </td>
                                </tr>                          
                             </tbody>
                        </table>
                    </div>
                 </div>
            </div>
       </div>
    </section>
    <!-- hotel-info - Directions -map view -->
    <section data-handler="hotel-info" data-method="map-view">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h5>Hotel-info Directions</h5>
                    <h4>Google Map</h4>
                    <p>Text for block map view and labore wes anderson cred nesciunt sapiente ea proident</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div id="google-map" class="google-map">
                    <!-- place google map here in 100% and 640px height or as class="img-fluid" -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- hotel-info - Directions -directions (by car and train and plane) -->
    <section data-handler="hotel-info" data-method="directions">
        <div class="container">
            <div class="row">
                 <div class="col-12">
                    <h5>Hotel-info Directions</h5>
                    <h4>by Car, Plane & Train</h4>
                    <p>Text for directions</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">                    
                    <div class="accordion" id="directions">
                        <div class="card">
                            <div class="header" id="directions-header-1" data-toggle="collapse" data-target="#directions-collapse-1" aria-expanded="false" aria-controls="directions-collapse-1">
                                <div class="row">
                                    <div class="col-12">
                                        <i class="icon-website-plus mr-1"></i>
                                        By car
                                    </div>
                                </div>
                            </div>
                            <!-- complement description if exists -->
                            <div id="directions-collapse-1" class="collapse" aria-labelledby="directions-header-1" data-parent="#directions">
                                <div class="body text-left">
                                    <ul>
                                        <li>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. </li>
                                        <li>Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident you probably haven't heard of them accusamus labore sustainable. </li>
                                        <li>Ad vegan excepteur butcher vice lomo.</li>
                                        <li>Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt VHS.</li>
                                    </ul>  
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="header" id="directions-header-2" data-toggle="collapse" data-target="#directions-collapse-2" aria-expanded="false" aria-controls="directions-collapse-2">
                                <div class="row">
                                    <div class="col-12">
                                        <i class="icon-website-plus mr-1"></i>
                                        By train
                                    </div>
                                </div>
                            </div>
                            <div id="directions-collapse-2" class="collapse" aria-labelledby="directions-header-2" data-parent="#directions">
                                <div class="body text-left">
                                    <ul>
                                        <li>
                                        Food truck quinoa nesciunt laborum eiusmod. 
                                        </li>
                                        <li>
                                        Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. 
                                        </li>
                                        <li>
                                        Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                        </li>
                                    </ul>                           
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="header" id="directions-header-3" data-toggle="collapse" data-target="#directions-collapse-3" aria-expanded="false" aria-controls="directions-collapse-3">
                                <div class="row">
                                    <div class="col-12">
                                        <i class="icon-website-plus mr-1"></i>
                                        By plane & bus
                                    </div>
                                </div>
                            </div>
                            <div id="directions-collapse-3" class="collapse" aria-labelledby="directions-header-3" data-parent="#directions">
                                <div class="body text-left">
                                    <ul>
                                        <li>
                                        Raw denim aesthetic synth nesciunt Düsseldorf International Airport or Cologne - Bonn Airport.
                                        </li>
                                        <li>
                                        A bird on it squid single-origin coffee nulla assumenda shoreditch et. 
                                        </li>
                                        <li>
                                        Occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                        </li>
                                        <li>
                                        Food truck quinoa nesciunt laborum eiusmod. 
                                        </li>
                                        <li>
                                        Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. 
                                        </li>
                                        <li>
                                        Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                        </li>                                 
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>               
                </div>
            </div>
        </div>
    </section>
    <!-- hotel-info - Directions - street view -->
    <section data-handler="hotel-info" data-method="street-view">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h5>Hotel-info Directions</h5>
                    <h4>Google street</h4>
                    <p>Text for street view and labore wes anderson cred nesciunt sapiente ea proident</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div id="google-street" class="google-street">
                    <!-- place here street map in 100% width and 640px height or as img-fluid -->
                    </div>            
                </div>
            </div>
        </div>
    </section>
    <!-- hotel-info - Image copyright -->
    <section data-handler="hotel-info" data-method="image-copyright">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h5>Hotel-info - New!</h5>
                    <h4>Image Copyright</h4>
                    <p>Our thanks to all the beautifull images. You can write some more about image copyright and labore wes anderson cred nesciunt sapiente ea proident</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-sm-4">
                    <a class="card" href="{{ imagepath }}/hotel-2.jpg" data-toggle="lightbox" data-gallery="image-copyright" data-title="Garden {{ hotelname }} &copy; Pexels">
                        <img src="{{ imagepath }}/hotel-2_414x414.jpg" alt="Garden {{ hotelname }} &copy; Pexels">
                        <br>
                        <span>Garden {{ hotelname }} &copy; Pexels</span>
                    </a>
                </div>
                <div class="col-12 col-sm-4">
                    <a class="card" href="{{ imagepath }}/hotel-3.jpg" data-toggle="lightbox" data-gallery="image-copyright" data-title="Villa Rosa Beach &copy; Pexels">
                        <img src="{{ imagepath }}/hotel-3_414x414.jpg" alt="Villa Rosa Beach &copy; Pexels">
                        <br>
                        <span>Villa Rosa Beach &copy; Pexels</span>
                    </a>
                </div>
                <div class="col-12 col-sm-4">
                    <a class="card" href="{{ imagepath }}/hotel-6.jpg" data-toggle="lightbox" data-gallery="image-copyright" data-title="Pool side from Hotel &copy; Pexels">
                        <img src="{{ imagepath }}/hotel-6_414x414.jpg" alt="Pool side from Hotel &copy; Pexels">
                        <br>
                        <span>Pool side from Hotel &copy; Pexels</span>
                    </a>
                </div>
                <div class="col-12 col-sm-4">
                    <a class="card" href="{{ imagepath }}/hotel-15.jpg" data-toggle="lightbox" data-gallery="image-copyright" data-title="Pool terrasse in {{ hotelname }} &copy; Pexels">
                        <img src="{{ imagepath }}/hotel-15_414x414.jpg" alt="Pool terrasse in {{ hotelname }} &copy; Pexels">
                        <br>
                        <span>Pool terrasse in {{ hotelname }} &copy; Pexels</span>
                    </a>
                </div>
                <div class="col-12 col-sm-4">
                    <a class="card" href="{{ imagepath }}/hotel-16.jpg" data-toggle="lightbox" data-gallery="image-copyright" data-title="Villa Rosa Beach &copy; Pexels">
                        <img src="{{ imagepath }}/hotel-16_414x414.jpg" alt="Villa Rosa Beach &copy; Pexels">
                        <br>
                        <span>Villa Rosa Beach &copy; Pexels</span>
                    </a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
