{% extends "layout.html" %}
{% block pagetitle %} Welcome {% endblock %}
{% block swipper %} 
    <!-- swipper with images and captions -->
    <section data-handler="free-block" data-method="swipper">
        <div id="index-swipper-carousel-large" class="carousel carousel-fade slide" data-ride="carousel" data-interval="5000">
            <ol class="carousel-indicators horizontal">
            {% for teaser in teasers %}
                <li data-target="#index-swipper-carousel-large" data-slide-to="{{ loop.index-1 }}"{% if loop.index == 1 %} class="active"{% endif %}>0{{ loop.index }}</li>
            {% endfor %}
            </ol>
            <div class="carousel-inner">
            {% for teaser in teasers %}
                <div class="carousel-item mb-0{% if loop.index == 1 %} active{% endif %}">
                    <figure>
                        <img src="{{ imagepath }}/{{ teaser.hero }}_1500x630.jpg" alt="{{ teaser.title }}">
                        <figcaption>
                            <h5>
                                Welcome to {{ hotelname }}                                                                                  
                            </h5>
                            <h2>{{ teaser.title }}</h2>
                        </figcaption>
                    </figure>
                </div> 
            {% endfor %}
            </div> 
        </div> 
        {% include "bookingbar.html" %}
    </section>  
{% endblock %}
{% block content %}
    <!-- text block default - center class -->
    <article data-handler="free-block" data-method="text">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <h5>Hotel & Restaurant</h5>
                    <h2>Welcome to {{ hotelname }}</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-12 text-center">                   
                    <p>
                    {{ intro }} 
                    </p>
                    <p>
                        Check our Styleguide
                    </p>
                    <a class="btn-details btn-border" href="styles.html">
                        <span data-hover="in Theme Victorino">Which icons can I use</span>
                    </a>                    
                </div>
            </div> 
        </div> 
    </article>
    <!-- restaurants teaser mosaic block | only if more then 3 items  -->
    <section data-handler="restaurants" data-method="teaser-mosaic">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h5>{{ hotelname }} Gastronomy</h5>
                    <h2>Bars & restaurants</h2>
                </div>
            </div>
        </div>
        <div class="grid-container">
            {% for restaurant in restaurants %}
                <figure class="grid-item item-{{ loop.index }}"> 
                    <img src="{{ imagepath }}/{{ restaurant.image }}_1500x630.jpg" alt="{{ restaurant.title }}">
                    <figcaption>
                        {% if loop.index == 2 %}
                        <h5 class="title">{{ restaurant.title }}</h5>
                        {% else %}
                        <h5>{{ restaurant.title }}</h5>
                        {% endif %}
                        <a href="{{ restaurant.link }}" class="btn-details">
                            <span data-hover="location">Visit this</span>
                        </a> 
                    </figcaption>
                </figure>
            {% endfor %}
        </div>
    </section>
    <!-- facilities | list NEW: PARALLAX WINDOW -->
    <section data-handler="facilities" data-method="icons" class="parallax-window" data-parallax="scroll" data-image-src="{{ imagepath }}/hotel-16_1500x630.jpg" data-natural-width="1500" data-natural-height="630">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <h5 class="title">Facilities</h5>
                    <h2>Services in our Hotel</h2>
                    <ul class="list-inline">
                        {% for service in hotelservices %}
                        {% if service.title %}
                            <li class="list-inline-item">
                                <i class="icon-service-facilities-{{ service.icon }}"></i>
                                <br>
                                <span>{{ service.title }}</span>
                            </li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- rooms teaser horizontal block -->
    <section data-handler="rooms" data-method="teaser-horizontal">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h5>Our Rooms & Suites</h5>
                    <h2>Large and comfortable</h2>
                </div>
            </div>
        </div>
        <div class="container">
            {% for room in rooms %}
                <article>  
                    <div class="image">
                        <p class="price">
                            {{ currency }}{{ room.price }}<br><small>Per night</small>
                        </p> 
                        <img src="{{ imagepath }}/{{ room.image }}_475x260.jpg" alt="{{ room.title }}">
                    </div>
                    <div class="body">
                        <h5>{{ room.title }}</h5>
                        <p>{{ room.text }}</p>
                        <ul>
                            {% for amenity in room.amenities %}
                                <li data-toggle="tooltip">
                                    <i class="icon-service-rooms-{{ amenity }}"></i>
                                    <span>{{ amenity }}</span>
                                </li>
                            {% endfor %}
                            {% for service in room.services %}
                                <li data-toggle="tooltip">
                                    <i class="icon-service-hotel-{{ service }}"></i>
                                    <span>{{ service }}</span>
                                </li>
                            {% endfor %}
                        </ul>
                        <a class="btn-details" href="{{ room.link }}">
                            Visit
                        </a>
                    </div>
                </article>
            {% endfor %}
        </div>
    </section>
    <!-- testimonials | will slide if more then 1 -->
    <section class="highlight-block" data-handler="free-block" data-method="testimonials">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h5>Testimonials</h5>
                    <h2>What our guests say</h2>
                    <a href="free-blocks.html" class="btn-details">
                        <span data-hover="about us">Read more</span>
                    </a> 
                </div>
                <div class="col-md-8 text-center">
                    <div class="slick-carousel slick-one">
                        {% for testimonial in testimonials %}
                        <div class="slick-item">
                            <blockquote class="slick-testimonal">{{ testimonial.text }}</blockquote>
                            <span class="slick-name">{{ testimonial.author }}</span> 
                        </div>
                        {% endfor %}                            
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- offers teaser block -->
    <section data-handler="offers" data-method="teaser">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <h5>Special Offers</h5>
                    <h2>Invite Friends & Family</h2>
                </div>
            </div>
            <div class="row">
                {% for offer in offers %}
                <article>
                    <div class="card"> 
                        <div class="image"> 
                            <a href="{{ offer.link }}">  
                                <picture>
                                    <img src="{{ imagepath }}/{{ offer.hero }}_414x414.jpg" alt="{{ offer.title }}" class="w-100">
                                </picture>
                            </a>
                        </div>
                        <div class="body">
                            <p class="price">
                                <small>from</small>
                                <span>{{ currency }}{{ offer.price }}</span>
                            </p> 
                            <h5><a href="{{ offer.link }}">{{ offer.title }}</a></h5>                   
                            <p>max. {{ offer.nights }} nights</p>
                            <a href="{{ offer.link }}" class="btn-details">
                                <span data-hover="about this.">Read more...</span>
                            </a>
                        </div>
                    </div>
                </article> 
                {% endfor %}
            </div>            
        </div>
    </section>
    <!-- video block -->
    <section data-handler="free-block" data-method="hotel-video">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="video-image"> 
                        <img src="{{ imagepath }}/video.jpg" alt="Hotel video"> 
                        <a href="#">
                            <i class="icon-website-zoom-in"></i>
                        </a> 
                    </div>
                    <h2>Welcome in {{ hotelname }}</h2>
                    <p>Say something about Hotel video</p>
                </div>
            </div>
        </div>
    </section>
    <!-- events teaser mosaic block -->
    <section data-handler="events" data-method="teaser-mosaic">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h5>Events</h5>
                    <h2>Sport & Culture</h2>
                    <!-- only if there's a link -->
                    <a href="events.html" class="btn-details">
                        <span data-hover="...and locations">See all events</span>
                    </a> 
                </div>
            </div>
        </div>
        <div class="grid-container">
            {% for event in events %}
                <figure class="grid-item item-{{ loop.index }}">  
                    <img src="{{ imagepath }}/{{ event.image }}_1500x630.jpg" alt="{{ event.title }}">
                    <figcaption>
                        {% if loop.index == 3 %}
                        <h5 class="title">{{ event.title }}</h5>
                        {% else %}
                        <h5>{{ event.title }}</h5>
                        {% endif %}
                        <a href="{{ event.link }}" class="btn-details">
                            <span data-hover="about this."> Read more... </span>
                        </a> 
                    </figcaption>
                </figure>
            {% endfor %}                        
        </div>
    </section>
    <!-- conferencerooms teaser block -->
    <section data-handler="conferencerooms" data-method="teaser">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <h5>{{ hotelname }} Business</h5>
                    <h2>Conferencerooms</h2>
                </div>
            </div>
            <div class="row">
                {% for conferenceroom in conferencerooms %}
                <article>
                    <div class="card"> 
                        <div class="image"> 
                            <a href="{{ conferenceroom.link }}">  
                                <picture>
                                    <img src="{{ imagepath }}/{{ conferenceroom.hero }}_414x414.jpg" alt="{{ conferenceroom.title }}" class="w-100">
                                </picture>
                            </a>
                        </div>
                        <div class="body">
                            <p class="price">
                                {{ conferenceroom.size }}
                                <small> m²</small>
                            </p> 
                            <h5><a href="{{ conferenceroom.link }}">{{ conferenceroom.title }}</a></h5>                   
                            <p>{{ conferenceroom.text }}</p>
                            <a href="{{ conferenceroom.link }}" class="btn-details">
                                <span data-hover="about this">Read more...</span>
                            </a>
                        </div>
                    </div>
                </article> 
                {% endfor %}
            </div>            
        </div>
    </section>
    <!-- services | list with icons and title OLD PARALLAX -->
    <section class="media parallax bg-black" data-handler="services" data-method="list" style="background-image: url('{{ imagepath }}/hotel-39.jpg');">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <h5 class="title">Services</h5>
                    <h2>In Hotel Victorino</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-8 mx-auto">
                    <ul class="list-icons">
                        {% for service in hotelservices %}
                        {% if service.title %}
                        <li>
                            <span>
                                <i class="icon-service-facilities-{{ service.icon }}"></i>{{ service.title }}
                            </span>
                        </li>
                        {% endif %}                        
                        {% endfor %}                        
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact form -->
    <article data-handler="file" data-method="display">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <h5>
                        Do you have a question?
                    </h5>
                    <h2>Contact us</h2>
                    <p>Please fill up all mandatory fields.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    {% include "contact-form.html" %}
                </div>
            </div>
        </div>
    </article>    
    {% include "reviews.html" %}
{% endblock %}