<footer>
    <div class="container blocks">
        <div class="row">
            <div class="col-12 col-md-4 mb-3 mb-sm-0 footer-address">
                <h6>{{ hotelname }}</h6>
                <address>
                    <span>{{ hotelstreet }}</span>
                    <span>{{ hotelcity }}</span>
                    <span>{{ hotelcountry }}</span>
                </address>
            </div>
            <div class="col-12 col-md-4 mb-3 mb-sm-0 footer-menu">
                <h6>Quicklinks</h6>
                <ul>
                    <li><a href="hotel-info.html">Hotel info</a></li>
                    <li><a href="free-blocks.html">Free blocks overview</a></li>
                    <li><a href="impressions.html">Video & Impressions</a></li>
                    <li><a href="contact.html">Contact</a></li>
                    <li><a href="extensions.html">Extensions</a></li>
                    <li><a href="styles.html">Icons Collection</a></li>
                </ul>
            </div>
            <div class="col-12 col-md-4 mb-3 mb-sm-0 footer-form">
                <h6>Newsletter</h6>
                <form name="newsletter">
                    <div class="row">
                        <div class="col-12">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="privacy-policy">
                                <label class="form-check-label" for="privacy-policy">
                                    I agree to hotel <a href="hotel-info.html" target="_blank">privacy policy</a> translation
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 mb-2 col-sm-7 mb-sm-0">
                            <input type="email" placeholder="Your Email">
                        </div>
                        <div class="col-12 col-sm-5">
                            <button class="btn-details" type="submit">
                                <span data-hover="our news!">
                                     Subscribe 
                                 </span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="container copyright">
        <div class="row">
            <div class="col-12 text-center text-md-left">
                <a href="https://www.sukedesign.de" target="_blank">
                    &copy; sukedesign. All rights reserved.                    
                </a>
            </div>
        </div>
    </div>
</footer>
