<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ hotelname }}:{% block pagetitle %} {% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <link rel="shortcut icon" href="assets/images/favicons/favicon.png">
    <link href="{{ csspath }}/font-poppins.css" rel="stylesheet">
    <link href="{{ csspath }}/font-roboto.css" rel="stylesheet">
    <link href="{{ csspath }}/font-brush.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ csspath }}/styles.css?1.07">
</head>
<body>
<header>
    {% include "topbar.html" %}
    {% include "nav.html" %}
    {% block swipper %}    
    {% endblock %}
</header>
<main>
    {% block content %} 
    {% endblock %}
</main>
{% include "footer.html" %}
<a class="scroll-to-top">
    <i class="icon-website-chevron-up"></i>
</a>
<script src="{{ jspath }}/plugins.js?1.08"></script>
{% block specialscripts %} {% endblock %}
<script src="{{ jspath }}/app.js?1.08"></script>
<script src="{{ jspath }}/lazysizes.min.js?1.08"></script>

<!-- extensions page -->
<script>
    jQuery(document).ready(function(){  
        if ( jQuery('.modal.opened').length > 0 ) {
          jQuery('.modal.opened').modal('show');
        };
    });
</script>
</body>
</html>