<nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" href="index.html">
        <img src="assets/images/logo.png" alt="{{ hotelname }}">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainmenu" aria-controls="mainmenu" aria-expanded="false" aria-label="Toggle navigation">
        <i class="icon-website-menu"></i>
    </button>
    <div class="collapse navbar-collapse" id="mainmenu">
        <ul class="navbar-nav">
            <!-- Add li class="active" -->
            <li><a href="index.html">Home</a></li>
            <li class="dropdown">
                <a href="rooms.html">
                    Rooms & Suites
                </a>
                <i class="icon-website-arrow-down dropdown-toggle" id="navbar-dropdown-rooms" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
                <ul class="collapse dropdown-menu" id="dropdown-rooms" data-parent="#mainmenu">
                    <li>
                        <a href="room-details.html">Single room</a>
                    </li>
                    <li>
                        <a href="room-details.html">Double room</a>
                    </li>
                    <li>
                        <a href="room-details.html">Junior suite</a>
                    </li>
                    <li>
                        <a href="room-details.html">Deluxe suite</a>
                    </li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="offers.html">
                    All our offers 
                </a>
                <i class="icon-website-arrow-down dropdown-toggle" id="navbar-dropdown-offers" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
                <ul class="collapse dropdown-menu" id="dropdown-offers" data-parent="#mainmenu">
                    <li>
                        <a href="offer-details.html">Spa & Wellness</a>
                    </li>
                    <li>
                        <a href="offer-details.html">Sport & Health</a>
                    </li>
                    <li>
                        <a href="offer-details.html">Romantic days</a>
                    </li>
                </ul>
            </li>
            <li><a href="restaurants.html">Bar & Restaurants</a></li>
            <li><a href="conference-rooms.html">Business</a></li>
            <li><a href="events.html">Events</a></li>
            <li><a href="locations.html">Locations</a></li>
            <li><a href="contact-persons.html">Team</a></li>
            <li><a href="extras.html">Extras</a></li>
        </ul>
    </div>
</nav>