        <!--Newsletter block -->
        <section class="newsletter-block" data-handler="form" data-method="newsletter">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center">
                        <h5>Allways on top of the news</h5>
                        <p>Subscribe our newsletter and don't miss a thing!</p>
                        <form name="newsletter">
                            <div class="col-12 col-sm-6 col-md-4 mx-sm-auto">
                                <input class="form-control mb-3" id="email" type="email" placeholder="Your email address *" required>                                
                            </div>
                            <button class="btn" type="submit">
                                Subscribe 
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </section> 