    <!-- reviews block -->
    <section data-handler="hotel-info" data-method="reviews">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <h2>Our Reviews</h2>
                    <p>Some text about our reviews</p>               
                </div>
            </div>
            <div class="row">
                <div class="col-12 text-center">
                    <a class="btn mb-2" target="_blank" href="https://www.google.com" title="google reviews">
                        <i class="icon-reviews-google"></i>
                    </a>   
                    <a class="btn mb-2" target="_blank" href="https://www.tripadvisor.com" title="tripadvisor">
                        <i class="icon-reviews-tripadvisor"></i>
                    </a>                        
                    <a class="btn mb-2" target="_blank" href="https://trivago.com/" title="trivago">
                        <i class="icon-reviews-trivago"></i>
                    </a>    
                    <a class="btn mb-2" target="_blank" href="https://www.holidaycheck.de" title="holidaycheck">
                        <i class="icon-reviews-holidaycheck"></i>
                    </a>   
                    <a class="btn mb-2" target="_blank" href="https://reviews.customer-alliance.com" title="customer-alliance">
                        <i class="icon-reviews-customeralliance"></i>
                    </a> 
                    <a class="btn mb-2" target="_blank" href="https://trustyou.com/" title="trustyou">
                        <i class="icon-reviews-trustyou"></i>
                    </a>    
                    <a class="btn mb-2" target="_blank" href="https://www.beauty24.de" title="beauty24">
                        <i class="icon-reviews-beauty24"></i>
                    </a>   
                    <a class="btn mb-2" target="_blank" href="https://hotelnavigator.com" title="hotelnavigator">
                        <i class="icon-reviews-hotelnavigator"></i>
                    </a>
                </div>
            </div>
        </div>
    </section>